@model WebGame.Models.DuelData
@{
    ViewData["Title"] = "Duel";
}



<h1>Duel</h1>
<br />
<br />

<span id="duel"></span>
<br />
<br />
<br />
<h2>Result: @Model.Result</h2>
<a asp-action="Index" asp-controller="Arena">Back to arena</a>

<script type="text/javascript">


    function ShowDuelTexts() {

        var texts = @Json.Serialize(Model.DuelHistory);
        var element = document.getElementById("duel");
        for (let i = 0; i < texts.length; i++) {
            setTimeout(() => {
                element.innerHTML += texts[i] + "<br />";
            }, 200 * i);

        }
    }
    ShowDuelTexts();
</script>