@model List<WebGame.Entities.Jobs.Job>
@{
    ViewData["Title"] = "Jobs";
}

<h1>Jobs</h1>

<ul>
    @foreach (var w in Model)
    {
        <li>
            @w.Name
            @w.Reward
            <a asp-action="Job" asp-controller="Jobs" asp-route-jobId=@w.Id>Work</a>
        </li>
    }
</ul>