@page "/shop/weapons"
<h3>Weapons</h3>
@if (Weapons == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var weapon in Weapons)
        {
            <li>@(weapon.Name)</li>
            <li>@(weapon.Attack)</li>
            <li>@(weapon.Value)</li>
        }
    </ul>
}
<a href="@($"/shop")">Back</a>
