@model List<WebGame.Entities.Enemies.Enemy>
@{
    ViewData["Title"] = "Arena";
}

<h1>Enemies</h1>

<ul>
    @foreach (var w in Model)
    {
        <li>
            @w.Name
            <a asp-action="Duel" asp-controller="Duel" asp-route-enemyId=@w.Id>Fight!</a>
        </li>
    }
</ul>