@model List<WebGame.Entities.Items.BodyArmor>
@{
    ViewData["Title"] = "Armors";
}

<h1>Armors</h1>

<ul>
    @foreach (var w in Model)
    {
        <li>
            Name:@w.Name
            Type:@w.ItemType
            Def:@w.Defense
            Value:@w.Value
            <a asp-action="Armors" asp-controller="Shop" asp-route-itemId=@w.Id>Buy</a>
        </li>
    }
</ul>