@model List<WebGame.Entities.Items.Weapon>
@{
    ViewData["Title"] = "Weapons";
}

<h1>Weapons</h1>

<ul>
    @foreach (var w in Model)
    {
        <li>
            Name:@w.Name
            Attack:@w.Attack
            AttackSpeed:@w.AttackSpeed
            Value:@w.Value
            <a asp-action="Weapons" asp-controller="Shop" asp-route-itemId=@w.Id>Buy</a>
        </li>
    }
</ul>