@page "/conversation/{Id:int}"

<h3>Conversation</h3>

@if (@Messages == null)
{
    <p><em>Loading...</em></p>
}
else
{
    
    <button @onclick=Answer>Answer</button>
    <button @onclick=Delete>Delete</button>

    <br />
    <span>Title: @Title</span>

    <br />

    @foreach (var message in @Messages)
    {
        if (message.FromID == PlayerId)
        {
            <span style="color:red">@message.Text</span>
        }
        else
        {
            <span style="color:blue">@message.Text</span>
        }
        <br />
    }

    @if (showAnserTextArea)
    {
        <br />
        <input type="text" @bind=MessageText />
        <br />
        <button @onclick=SendAnswer>Send</button>
    }
}