@page "/post"
<h3>Post</h3>

@if (@Conversations == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <tr>
            <th>Title</th>
            <th>FromPlayer</th>
        </tr>
        @foreach (var conversation in @Conversations)
        {
            <tr>
                <td>
                    <button onclick=@(()=>ShowMessages(conversation.Id))>@conversation.Title</button>
                </td>
                <td>
                    <span>Placeholder</span>
                </td>
            </tr>
        }
    </table>
}