@page "/post"
<h3>Post</h3>

@if (@Conversations == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button @onclick=NewMessage>New message</button>
    <br />
    <table>
        <tr>
            <th>Title</th>
            <th>LastDate</th>
        </tr>
        @foreach (var conversation in @Conversations)
        {
            <tr>
                <td>
                    <button onclick=@(()=>ShowMessages(conversation))>@conversation.Title</button>
                </td>
                <td>
                    <span>@conversation.LastModificationDate.ToString()</span>
                </td>
            </tr>
        }
    </table>
}