@model WebGame.Entities.Player
@{
    ViewData["Title"] = "Player";
}

<h1>Player</h1>

<span>Name:
@Model.Name
</span><br />
<br />
Statistics:
<br />
<span>
    Strenght:
@Model.Strenght
</span><br />
<span>
    Dexterity:
@Model.Dexterity
</span><br />
<span>
    Endurance:
@Model.Endurance
</span><br />